<!DOCTYPE html>
<html>
<head>
    <title>Rowan Energy</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1"/>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Animate CSS -->
    <link href="/assets/css/animate.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="/assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Custom CSS -->
    <link href="/assets/css/custom_coming.css" rel="stylesheet"/>
</head>
<body>


<div class="overall-div">
    <!-- Section with 2 columns -->
<section class="sec-coming">
    <div class="container-fluid">
        <div class="row first">
            <div class="col-md-12">
                <div class="logo text-center">
                    <img src="/assets/images/logo.png" alt="Rowan Energy logo" class="wow slideInDown">
                </div>
            </div>
        </div>
        <div class="row align-items-center second">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-12 col-lg-10 offset-lg-1">
                            <div class="row align-items-center">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <div class="coming-box text-center">
                                        <h4 class="text-uppercase">our website is</h4>
                                        <h3 class="text-uppercase">coming soon!</h3>
                                        <div class="btn-block">
                                           <!--  <a href="assets/Rowan-coin-whitepaper.pdf" target="_blank" class="btn-comming">WhitePaper</a>
                                            <a href="assets/onepager.pdf" target="_blank" class="btn-comming">Concept in Brief</a> -->
                                        </div>
                                    </div>
                                </div>      
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<section class="sec-coming-foot" style="background-image: url(/assets/images/other/footer-image.png);">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                       <!--  <div class="copyright">2018 © Rowan Coin Website</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>

        <!-- JQuery -->
        <script type="text/javascript" src="/assets/js/jquery-3.3.1.min.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <!-- wow JavaScript -->
        <script type="text/javascript" src="/assets/js/wow.min.js"></script>
        <!-- Custom JavaScript -->
        <script type="text/javascript" src="/assets/js/custom_coming.js"></script>


    </body>
</html>
