<!DOCTYPE html>
<html>
<head>
    <title>Rowan Energy</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <!-- Bootstrap Core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/css/bootstrap-dropdownhover.min.css" rel="stylesheet"/>
  <!-- Animate CSS -->
    <link href="assets/css/animate.css" rel="stylesheet"/>
    <!-- hover-min CSS -->
    <link href="assets/css/hover-min.css" rel="stylesheet"/>
    <!-- yamm css -->
    <link href="assets/css/yamm.css" rel="stylesheet"/>
    <!-- Font-awesome web fonts with css -->
    <link href="assets/css/fontawesome-all.css" rel="stylesheet" type="text/css"/>
    <!-- Font-awesome web fonts with css -->
    <!-- loader css -->
    <link href="assets/css/loader.css" rel="stylesheet"/>
  <!-- Custom CSS -->
    <link href="assets/css/custom.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
     <link rel="stylesheet" href="assets/css/jquery-ui.css">
</head>
<style>
       .error_validate {color: red;}
       .title{padding: 0 50px 20px;}
</style>
<body>
<section class="login-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="signup-inner-box">
          <div class="logo-block">
                  <img src="assets/images/logo.png" align="rowan energy logo">
                </div>
           <div class="row align-item-center">
              <div class="col-lg-6 col-md-5 col-sm-5">
                 <div class="side-img">
                  <img src="assets/images/other/side-img.png" align="side img">
                </div>
              </div>
              <div class="col-lg-6 col-md-7 col-sm-7">
                 <div class="main-outer">
                   <div class="signup-outer">
                       <h2>Get more things done with Login platform.</h2>
                        <p>Access to the most powerful tool in the entire design and web industry.</p>
                        <h4 class="for-login">Forgot Password?</h4>
                        <% if(err_msg!=undefined){ %>
                        <span class="error_validate flash_msg"><%= err_msg %></span>
                        <% }%>
                       <% if(success_msg!=undefined){ %>
                      <span class="succ_flash_msg" style="color: green;"><b><%= success_msg %><b></span>
                     <% }%>
                      <form method="post" action="/submit-forgot" id="forgot_pass">
                        
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Enter Email" name="email" id="user-name"   type="email" data-rule-required="true" data-rule-email="true" data-msg-required="Email address is required." data-msg-email="Please enter valid Email address">
                        </div>
                       
                        <div class="btn-gorup">
                          <button type="submit" id="submit_forgot" class="btn btn-common">Submit</button>
                        <!--   <a href="/Login" class="btn btn-border">Login</a> -->
                        <div class="new-link-submit">Have you remembered your password? <a href="/Login" > Login</a></div>
                          
                        </div>
                      </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
 <!-- JQuery -->
<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/js/bootstrap-dropdownhover.min.js"></script>
<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script type="text/javascript" src="assets/js/custom.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script type="text/javascript">
$('#forgot_pass').validate({
      onfocusout: function(element) {
      this.element(element);
      },
      errorClass: 'error_validate',
      errorElement:'span',
      highlight: function(element, errorClass) {
      $(element).removeClass(errorClass);
      },
      submitHandler:function(form)
         {
           $('#submit_forgot').attr('disabled',true);
           form.submit();
         }
      });
</script> 
<script type="text/javascript">
$(document).ready(function () {
var flash_msg=$('.flash_msg').html();
if(flash_msg!="" && flash_msg!=undefined)
{
  setTimeout(function(){ $('.flash_msg').html('');},4000);
}    
});

$(document).ready(function () {
var succ_flash_msg=$('.succ_flash_msg').html();
if(succ_flash_msg!="" && succ_flash_msg!=undefined)
{
setTimeout(function(){ $('.succ_flash_msg').html('');},4000);
}    
});  


</script>
</body>
</html>


